
/*POLICE*/

@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

/*SP2CIFICATIONS UNIVERSELLES*/
* {
margin:0 ;
padding: 0;
font-family: "Inter", sans-Serif;
}


/*LES TITRES*/

h1 {


}

h2 {
font-size: 42px;
font-weight: 800;
padding: 20px;
}


h3 {
  font-weight: 600;
  font-size: 32px;
width: 100%;
margin: auto;
margin-bottom: 8px;

}

h4 {
   font-weight: 400; 
   font-size: 18px;
    margin: auto;
    margin-bottom: 4px;
font-weight: bolder;
}

/*LE HEADER*/

header {

background-color: white;
padding: 5px 15px;
}

a {text-decoration: none; color: black;}

/*                                    CLASSES FONCTIONS           */

/*LA FAMEUSE CATEGORIE DU FLEX / 
(1) ON PARLE AU PAPA ET (2) ON PREND EN COMPTE LA LARGEUR DES ENFANTS*/

.flex {
display: flex;
flex-wrap: wrap;
 /*<-- j'ai ajouté margin auto, sans effet*/
} /*c'est dingue, j'ai ajoute space between ici et la fonction s'annule, pourquoi ?*/

.alignCenter {
    align-items: center;
    
    }

.spaceBetween {

justify-content: space-between;

}



/*                        CLASSES CONTENANTS            */

.lar45 {
width: 45%;

}
/*pour l'espacement des titres avec les 3 colonnes*/
.mar10 {
margin: 8px;

}

.lar100 {

    width: 100%;

}

.lar30 {
    width: 25%;
  /*j'avais ajouté un margin auto nuisible ici*/
}
.Marginleft {

    margin-left: 100px;

}

li {
list-style: none;

}

.navheader {

width: 50%;

}


.panier {
color: yellow;

}

/*DEBUT DU HERO*/
.bgYellow {
background-color: #F3C827;

}
.justcenter {
justify-content: center;

}

.marchet {

background-color: #F3C827;
width: 265px;
margin-bottom: 30px;

}

.paddingsection {
    padding: 35px;
}

.hero {
    height: 100vh;
}

.container {
   /* background-color: red */
   /*j'ajoute pour voir*/
    max-width: 1000px; 
    width: 100%;
    margin:auto; /*cela centre au milieu du parent*/

}
.alignfe {
align-items: flex-end;

}

.hero h2 {

    font-family: "WindSong", cursive;
    font-size: 130px;
    font-weight: 500;
}

.btn { 
background-color: #F66909;
border: 10px;
border-radius: 4px;
padding: 10px;
color:white;
display:inline-block;
margin-top: 35px;
width: fit-content;

}

/*inutile en dessous ?*/

.btn2 {

    background-color: #F66909;
    border: 10px;
    border-radius: 4px;
    padding: 10px;
    color:white;
    display:block;
    margin-top: 15px;
    width: fit-content;

}

/*ENGAGEMENT*/

 /*deux BG le body l'emporte*/

.bold {font-weight: 600;}



/* ADRESSE*/

.width70 {

    width: 70%;

}

footer {


}

